{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sequences/style.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<form action="" method="post">
{% csrf_token %}
    <div>
        <label for="steps">Number of steps</label>
        <input type="number" name="steps" value="{{steps}}" />
    </div>
    <div>
        <label for="clockwise">Clockwise?</label>
        <input type="checkbox" name="clockwise" id="clockwise" {% if clockwise %}checked{% endif %} />
    </div>
    <input type="submit" value="Refresh"/>
</form>
{% if transitions %}
    {{startEdge.abbreviation}}
    <ul>
    {% for transition in transitions %}
        <li>
            {{transition.move.name}} to {{transition.exit.abbreviation}}
        </li>
    {% endfor %}
    </ul>
{% endif %}
